deidentifier-pipeline/src/main/resources/schemas/address.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
    <element name="Address">
        <complexType>
            <attribute name="type" use="optional" >
                <simpleType>
                    <restriction base="string">
                        <enumeration value="patient"/>
                        <enumeration value="doctor"/>
                        <enumeration value="hospital"/>
                        <enumeration value="discharge"/>
                        <enumeration value="pharmacy"/>
                        <enumeration value="other"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="rule" use="optional">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </attribute>
            <attribute name="confidence" use="optional">
                <simpleType>
                    <restriction base="float"/>
                </simpleType>
            </attribute>
        </complexType>
    </element>
</schema>
