deidentifier-pipeline/src/main/resources/schemas/contact.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
    <element name="Contact">
        <complexType>
            <attribute name="type" use="optional">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="phone number"/>
                        <enumeration value="fax number"/>
                        <enumeration value="email"/>
                        <enumeration value="website"/>
                        <enumeration value="other"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="rule" use="optional">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </attribute>
            <attribute name="confidence" use="optional">
                <simpleType>
                    <restriction base="float"/>
                </simpleType>
            </attribute>
        </complexType>
    </element>
</schema>
