deidentifier-pipeline/src/main/resources/schemas/location.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
    <element name="Location">
        <complexType>
            <attribute name="type" use="optional">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="organisation"/>
                        <enumeration value="organisational unit"/>
                        <enumeration value="street"/>
                        <enumeration value="zip"/>
                        <enumeration value="city"/>
                        <enumeration value="canton"/>
                        <enumeration value="region"/>
                        <enumeration value="country"/>
                        <enumeration value="geographical adjective"/>
                        <enumeration value="room"/>
                        <enumeration value="other"/>
                    </restriction>
                </simpleType>
            </attribute>
            <attribute name="rule" use="optional">
                <simpleType>
                    <restriction base="string"/>
                </simpleType>
            </attribute>
            <attribute name="confidence" use="optional">
                <simpleType>
                    <restriction base="float"/>
                </simpleType>
            </attribute>
        </complexType>
    </element>
</schema>
